@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}


a {
    background-color: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    text-align: center;
}

.song-list {
    color: white;
    text-align: -webkit-center;
    background-image: url(logos/music.jpg);
    width: 100vw;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

.song {
    height: 55px;
    width: 70%;
    display: flex;
    color: ghostwhite;
    margin: 20px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(88deg, #000000, #0000005e);
}

.song img {
    width: 40px;
    margin: 0px 20px;

}

.songLibrary {
    min-height: auto;
    background-color: #01081ef2;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    width: 100vw;
}

.icon {
    background-image: url(logos/1.png);
}

audio::-webkit-media-controls-panel {
    background: linear-gradient(180deg, #093300c7, transparent);
}

audio::-webkit-media-controls-mute-button {
    background-color: #B1D4E0;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #B1D4E0;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: rgba(177,212,224, .7);
  }
